* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@font-face {
    font-family: subtitulo;
    src: url(letras/roman_sd/Roman\ SD.ttf);
}
@font-face {
    font-family: topbar;
    src: url(letras/collegiateflf/CollegiateOutlineFLF.ttf);
}

body {
    background-color: black;
}

nav {
    padding: 10px;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    font-family: topbar;
    color:rgb(0, 174, 255);
}

/**Posição**/
.menu {
    text-align: center;
}

.center {
    text-align: center;
}

.center img {
    border-radius: 5%;
    border: 2px solid white;
}

.center p {
    margin-top: 15px;
}

/**Alterações de Cores**/
a:hover
{
    color: white;
}

h1 {
    color: white;
    font-family: subtitulo;
}

p {
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: rgb(0, 174, 255);
}
